//Colors
$dark-gray: #2a2e2b;
$off-white: #c0e5f7;
$blue: #083870;
$diff-blue: #182a5a;
$light-blue: #6295e2;
$dark-blue: #040e20;
//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;